*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-container{
    width: 100%;
    overflow: hidden;
    border: 1px solid orange
}
.carousel-slide{
    display: flex;
    height: 500px;
    background-size: cover;
}
.carousel-slide img{
    width: 100%;
    background-size: cover;
}
.prevArrow , .nextArrow{
    position: absolute;
    color: white;
    top: 30%;
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.nextArrow{
    right: 0px;
}
.prevArrow:hover , .nextArrow:hover{
    color: #cfcfcf;
}
